.header {
  margin-left: 52px;
  color: rgb(3, 105, 161);
}

.result {
  width: 100%;
  margin: 3em 2em 0 3.5em;
}

.result > ul > li {
  list-style-type: none;
  margin-left: -20px;
  line-height: 1.5;
}

.result > ul > li > span {
  font-weight: 600;
  color: rgb(75, 85, 99);
}

.message {
  margin: 4.2em 0 0 4.7em;
}
